<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-12 text-center">
            <%= image_tag '/assets/record_pool_logo.png', :class => 'logoimage' %>
            <p></p>
            <p class="lead">Welcome to RecordPool.  Share Music Discoveries with Friends</p>
            <p></p>
            <%= image_tag '/assets/mp2016afp.jpg', :class => 'logoimage' %>
            <p>
            </p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
