<!-- Page Content -->
<div class="panel panel-default devise-bs">
    <div class="panel-body text-center">
        <%= image_tag '/assets/record_pool_logo.png', size: "150x150", class: 'logoimage' %>
        <p></p>
        <p class="lead">Welcome to RecordPool.  Share Music Discoveries with Friends</p>
        <p></p>
        <%= image_tag '/assets/mp2016afp.jpg', class: 'logoimage', style: "max-width:100%; max-height:100%;" %>
        <p></p>
    </div>
</div>

